
.infoMeal{
  display: flex ;
  flex-direction: column;
}

.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag{
    width: 150px;
    height: 130px;
}

.arrow-img{
  width: 150px;
  height: 150px;
}
.info-left img {
  width: 400px;
}

 .info-content{
  display: flex;
}
.IMAGE_API{
  width: 150px;
}
.image-box{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 40px;
  margin: 15px;
}
